trigger:
  branches:
    include:
    - '*' 
  paths:
    exclude:
    - .circleci/**
    - .github/**
    - .ci/**
    - Deploy/**
    - Docs/**
    - Scripts/**
    - Services/Postgres
    - Services/Proxy
    - .gitignore
    - README.md

pr:
  branches:
    include:
    - '*' 
  paths:
    exclude:
    - .circleci/**
    - .github/**
    - .ci/**
    - Deploy/**
    - Docs/**
    - Scripts/**
    - Services/Postgres
    - Services/Proxy
    - .gitignore
    - README.md

stages:
- stage: Unit_Tests
  jobs:
  - job: Api
    pool:
      vmImage: 'ubuntu-latest'
    continueOnError: true
    steps:
    - task: UseDotNet@2
      displayName: 'Install Dotnet Core'
      inputs:
        packageType: sdk
        version: 3.1.101
    - script: |
        dotnet test --logger "trx;LogFileName=report.trx" --collect:"XPlat Code Coverage"
      workingDirectory: $(build.sourcesDirectory)/Services/TicketStore.Api.Tests.Unit
      displayName: 'dotnet test'
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: true
    - script: |
        dotnet tool install -g trx2junit
        ~/.dotnet/tools/trx2junit TestResults/report.trx
      condition: always()
      workingDirectory: $(build.sourcesDirectory)/Services/TicketStore.Api.Tests.Unit
      displayName: 'prepare JUnit report'
    - task: PublishTestResults@2
      condition: always()
      inputs:
        testResultsFormat: 'JUnit' # Options: JUnit, NUnit, VSTest, xUnit, cTest
        testResultsFiles: 'TestResults/report.xml' 
        searchFolder: '$(build.sourcesDirectory)/Services/TicketStore.Api.Tests.Unit' # Optional
    - task: Bash@3
      displayName: 'publish code coverage report to Codecov'
      inputs:
        targetType: 'inline'
        script: bash <(curl -s https://codecov.io/bash) -y $(build.sourcesDirectory)/.ci/codecov.yml
    - task: PublishCodeCoverageResults@1
      displayName: 'publish code coverage report to Azure Devops'
      inputs:
        codeCoverageTool: 'cobertura' # Options: cobertura, jaCoCo
        summaryFileLocation: $(build.sourcesDirectory)/Services/TicketStore.Api.Tests.Unit/TestResults/**/coverage.cobertura.xml
        #pathToSources: # Optional
        #reportDirectory: # Optional
        #additionalCodeCoverageFiles: # Optional
        #failIfCoverageEmpty: false # Optional

  - job: Web
    pool:
      vmImage: 'ubuntu-latest'
    continueOnError: true
    steps:
    - task: UseDotNet@2
      displayName: 'Install Dotnet Core'
      inputs:
        packageType: sdk
        version: 3.1.101
    - script: |
        dotnet test --logger "trx;LogFileName=report.trx" --collect:"XPlat Code Coverage"
      workingDirectory: $(build.sourcesDirectory)/Services/TicketStore.Web.Tests.Unit
      displayName: 'dotnet test'
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: true
    - script: |
        dotnet tool install -g trx2junit
        ~/.dotnet/tools/trx2junit TestResults/report.trx
      condition: always()
      workingDirectory: $(build.sourcesDirectory)/Services/TicketStore.Web.Tests.Unit
      displayName: 'prepare JUnit report'
    - task: PublishTestResults@2
      condition: always()
      inputs:
        testResultsFormat: 'JUnit' # Options: JUnit, NUnit, VSTest, xUnit, cTest
        testResultsFiles: 'TestResults/report.xml' 
        searchFolder: '$(build.sourcesDirectory)/Services/TicketStore.Web.Tests.Unit' # Optional
        #mergeTestResults: false # Optional
        #failTaskOnFailedTests: false # Optional
        #testRunTitle: # Optional
        #buildPlatform: # Optional
        #buildConfiguration: # Optional
        #publishRunAttachments: true # Optional
    - task: Bash@3
      displayName: 'publish code coverage report to Codecov'
      inputs:
        targetType: 'inline'
        script: bash <(curl -s https://codecov.io/bash) -y $(build.sourcesDirectory)/.ci/codecov.yml
    - task: PublishCodeCoverageResults@1
      displayName: 'publish code coverage report to Azure Devops'
      inputs:
        codeCoverageTool: 'cobertura' # Options: cobertura, jaCoCo
        summaryFileLocation: $(build.sourcesDirectory)/Services/TicketStore.Web.Tests.Unit/TestResults/**/coverage.cobertura.xml
        #pathToSources: # Optional
        #reportDirectory: # Optional
        #additionalCodeCoverageFiles: # Optional
        #failIfCoverageEmpty: false # Optional

  - job: Data
    pool:
      vmImage: 'ubuntu-latest'
    continueOnError: true
    steps:
    - task: UseDotNet@2
      displayName: 'Install Dotnet Core'
      inputs:
        packageType: sdk
        version: 3.1.101
    - script: |
        dotnet test --logger "trx;LogFileName=report.trx" --collect:"XPlat Code Coverage"
      workingDirectory: $(build.sourcesDirectory)/Services/TicketStore.Data.Tests.Unit
      displayName: 'dotnet test'
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: true
    - script: |
        dotnet tool install -g trx2junit
        ~/.dotnet/tools/trx2junit TestResults/report.trx
      condition: always()
      workingDirectory: $(build.sourcesDirectory)/Services/TicketStore.Data.Tests.Unit
      displayName: 'prepare JUnit report'
    - task: PublishTestResults@2
      condition: always()
      inputs:
        testResultsFormat: 'JUnit' # Options: JUnit, NUnit, VSTest, xUnit, cTest
        testResultsFiles: 'TestResults/report.xml' 
        searchFolder: '$(build.sourcesDirectory)/Services/TicketStore.Data.Tests.Unit' # Optional
        #mergeTestResults: false # Optional
        #failTaskOnFailedTests: false # Optional
        #testRunTitle: # Optional
        #buildPlatform: # Optional
        #buildConfiguration: # Optional
        #publishRunAttachments: true # Optional
    - task: Bash@3
      displayName: 'publish code coverage report to Codecov'
      inputs:
        targetType: 'inline'
        script: bash <(curl -s https://codecov.io/bash) -y $(build.sourcesDirectory)/.ci/codecov.yml
    - task: PublishCodeCoverageResults@1
      displayName: 'publish code coverage report to Azure Devops'
      inputs:
        codeCoverageTool: 'cobertura' # Options: cobertura, jaCoCo
        summaryFileLocation: $(build.sourcesDirectory)/Services/TicketStore.Data.Tests.Unit/TestResults/**/coverage.cobertura.xml
        #pathToSources: # Optional
        #reportDirectory: # Optional
        #additionalCodeCoverageFiles: # Optional
        #failIfCoverageEmpty: false # Optional
