version: 2.1

jobs:
  build-web:
    docker:
      - image: microsoft/dotnet:2.2-sdk
    steps:
      - checkout
      - run: curl -sL https://deb.nodesource.com/setup_10.x |  bash - && apt-get install -y nodejs
      - run:
          command: dotnet build
          working_directory: TicketStore.Web
      - run:
          command: npm run build
          working_directory: TicketStore.Web/Client
  build-api:
    docker:
      - image: microsoft/dotnet:2.2-sdk
    steps:
      - checkout
      - run:
          command: dotnet build
          working_directory: TicketStore.Api
  turnstile-tests:
    docker:
      - image: circleci/node:10-jessie
    steps:
      - checkout
      - run: pwd
      - run: ls -la
      - restore_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}
      - restore_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}
      - run: yarn install
      - save_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}
          paths:
            - ~/.cache/yarn
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}
          paths:
            - node_modules
      - run:
          name: jest tests
          command: |
            mkdir -p test-results/jest
            yarn run test
          environment:
            JEST_JUNIT_OUTPUT: test-results/jest/junit.xml
      - persist_to_workspace:
          root: TicketStore.MobileApp
          paths:
            - node_modules
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
  deploy:
    machine:
      docker_layer_caching: true
    steps:
      - checkout
      - run: chmod +x ./Scripts/deploy.sh
      - run: ./Scripts/deploy.sh
    
workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build-api
      - build-web
      - turnstile-tests
      - deploy:
          filters:
            branches:
              only:
                - master
          context: docker_hub_creds
          requires:
            - build-api
            - build-web
