version: 2.1

jobs:
  test-integration:
    working_directory: ~/repo/Services
    machine:
      docker_layer_caching: false
    steps:
      - checkout
      - run:
          name: update docker-compose
          command: |
            sudo curl -L "https://github.com/docker/compose/releases/download/1.24.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
            sudo chmod +x /usr/local/bin/docker-compose
      - run:
          name: install dotnet core
          command: |
            echo export DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 >> "$BASH_ENV"
            echo export DOTNET_CLI_TELEMETRY_OPTOUT=1 >> "$BASH_ENV"
            sudo apt-get update
            sudo apt-get install -y gpg
            wget -O - https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor -o microsoft.asc.gpg
            sudo mv microsoft.asc.gpg /etc/apt/trusted.gpg.d/
            wget https://packages.microsoft.com/config/ubuntu/16.04/prod.list
            sudo mv prod.list /etc/apt/sources.list.d/microsoft-prod.list
            sudo chown root:root /etc/apt/trusted.gpg.d/microsoft.asc.gpg
            sudo chown root:root /etc/apt/sources.list.d/microsoft-prod.list
            sudo apt-get install -y apt-transport-https
            sudo apt-get update
            sudo apt-get install dotnet-sdk-3.1
      - run: make start-test
      - run: bash ./Scripts/wait-until-app-is-deployed.sh
      - run:
          name: migrate test db 
          command: |
            dotnet tool install --global dotnet-ef --version 3.1.101
            export ASPNETCORE_ENVIRONMENT=TestMigrations; \
            ~/.dotnet/tools/dotnet-ef database update --project Services/TicketStore.Data/TicketStore.Data.csproj --verbose
      - run:
          name: integration tests
          command: dotnet test TicketStore.Api.Tests --logger "trx;LogFileName=report.trx" --filter Category!=DevelopmentData
          working_directory: Services
      - run:
          name: transform trx report to junit for CI
          command: |
            dotnet tool install -g trx2junit
            ~/.dotnet/tools/trx2junit Services/TicketStore.Api.Tests/TestResults/report.trx
          when: always
      - store_test_results:
          path: Services/TicketStore.Api.Tests/TestResults
      - store_artifacts:
          path: Services/TicketStore.Api.Tests/TestResults
          destination: TestResults/TicketStore.Api.Tests
      - store_artifacts:
          path: /var/log/store_api
          destination: Logs/TicketStore.Api
      - store_artifacts:
          path: /var/log/fake_sender
          destination: Logs/FakeSender
      - run:
          name: stop application
          command: |
            make stop-test
          when: always
  deploy:
    machine:
      docker_layer_caching: false
    steps:
      - checkout
      - run:
          name: define version
          command: |
            echo 'export VERSION="1.6.$CIRCLE_BUILD_NUM"' >> $BASH_ENV
      - run:
          name: install sentry-cli and verify that cli was installed successfully
          command: |
            curl -sL https://sentry.io/get-cli/ | bash
            sentry-cli --help
      - run:
          name: update docker-compose
          command: |
            sudo curl -L "https://github.com/docker/compose/releases/download/1.24.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
            sudo chmod +x /usr/local/bin/docker-compose
      - run:
          name: create release in sentry and associate commits with a release
          command: |
            sentry-cli releases new -p $SENTRY_PROJECT_NAME $VERSION
      - run: bash ./Scripts/publish-to-docker-hub.sh
      - run:
          name: Deploy Over SSH
          command: |
            ssh root@chertopolokh.ru 'rm -rf ticket_store'
            ssh root@chertopolokh.ru 'git clone git@github.com:FrameBassman/ticket_store.git --branch master --single-branch'
            ssh root@chertopolokh.ru 'export VERSION='"'$VERSION'"'; cd ticket_store && make stop-prod start-prod && make docker-cleanup -i'
            ssh root@chertopolokh.ru 'docker image prune --all --force'
      - run:
          name: Deploy check
          command: |
            bash ./Scripts/check-deployment.sh https://chertopolokh.ru
      - run:
          name: finish sentry release
          command: |
            sentry-cli releases deploys $VERSION new -e Production

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - test-integration
      # - deploy:
      #     filters:
      #       branches:
      #         only:
      #           - master
      #     context: credentials
      #     requires:
      #       - test-integration
