.centered_text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.h1 {
  font-weight: bold;
  font-size: 20px;
}

.h2 {
  margin: 16px;
  font-weight: 500;
}

.h3 {
  font-weight: 600;
}

.main {
  max-width: 600px;
}

body {
  width: 210mm;
  height: 297mm;
  margin: auto;
  page-break-after: always;
}

.colonne_titulus {
  padding-left: 30mm;
  padding-right: 20mm;
  padding-top: 20mm;
  padding-bottom: 20mm;
}

.logo {
  font-size: 40px;
  margin: 16px;
}

.frame {
  display: flex;
  border-style: solid;
  height: 80px;
}

.label {
  width: 500px;
}
