.centered_text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.h1 {
  font-weight: bold;
  font-size: 20px;
}

.h2 {
  margin: 16px;
  font-weight: 500;
}

.h3 {
  font-weight: 600;
}

.main {
  max-width: 600px;
}

body {
  width: 210mm;
  height: 297mm;
  margin: auto;
  page-break-after: always;
}

.colonne_titulus {
  padding-left: 30mm;
  padding-right: 20mm;
  padding-top: 20mm;
  padding-bottom: 20mm;
}

.logo {
  max-height: 20px;
  height: auto;
  width: auto;
}

.frame {
  display: flex;
  border-style: solid;
  height: 250px;
}

.left {
  flex: 2 1 auto;
  padding: 16px;
}

.right {
  flex: 1  1 auto;
  padding: 16px;
}

.upper-case {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 8px;
}

h4 {
  margin: 8px;
}

h5 {
  margin: 8px;
}

.rules {
  padding-left: 16px;
  padding-right: 16px;
}
