.description {
  height: 50%;
  text-align: center;
  display: flex;
}

.description__content {
  margin: auto;
  display: flex;
  align-items: center;
}

@media (max-width: 599px) {
  .description__content {
    display: block;
  }
}

.description__content--item {
  margin: 16px;
}

.description__content--bold {
  font-size: 32px;
  line-height: 42px;
}
