.title {
  height: 50%;
  text-align: center;
  display: flex;
  background-image: url(./../assets/img/sparkler.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.title__content {
  margin: auto;
}

.title__header {
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
  margin: 4px;
}

@media (max-width: 599px) {
  .title__header {
    font-size: 26px;
    line-height: 32px;
  }
}

a {
  color: #156AA3; /* Цвет ссылок */
}
a:visited {
  color: #156AA3; /* Цвет посещенных ссылок */
}
a:active {
  color: #156AA3; /* Цвет активных ссылок */
}