<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Билеты</title>
   </head>
   <body>
      <div style="text-align: center">
         <div style="font-weight: 500;font-size: 20px;">E-tickets</div>
         %TICKET%
         <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
            <div style="margin: 16px; font-weight: 500;">PRINT this form and present it when you enter the event</div>
            <div style="margin: 16px; font-weight: 500;">Tickets are non-refundable and non-exchangeable</div>
            <div style="font-size: 10px">
               <div>Attention: The barcode shown on the e-ticket is only valid for one-time admission to the event. Do not allow
                  reprint or copy your e-ticket by third parties, as they might use it before you do! This
                  document is as valuable as cash. Keeping the e-ticket, preventing its copying and/or other
                  reproduction is the duty of the Customer. The organizer is not responsible for safety of your e-tickets.
                  The organizer is not responsible for the tickets purchased from third parties, including those bought from the third-party
               </div>
               <div style="margin: 16px;">
                  <div style="font-weight: 600">Venue rules</div>
                  <div>Availability of a concert ticket gives the right to stay in the club during the concert specified in the ticket without a seat.
                     After the end of the concert, the administration has the right to ask visitors to leave the hall.
                     The club may be searched, in order to ensure the safety of its visitors.
                     The visitors must not put up resistance to the searchers, otherwise the administration may refuse
                     The client has the right to return the visit. The administration is not responsible for tickets,
                     purchased in unauthorized places. The club is not responsible for the safety of personal belongings, vehicles
                     vehicles and other property left at the club. The visitor will have to leave the club
                     in case of aggression towards other guests and/or staff.
                  </div>
               </div>
               <div style="margin: 16px;">
                  <div style="font-weight: 600">The e-ticket validation procedure.</div>
                  <div>When entering the event, the Client must have a printed e-ticket form for each seat. When attending an event
                     all Customers with an e-ticket pass each on their own ticket.
                  </div>
               </div>
               <div style="margin: 16px;">
                  <div style="font-weight: 600">Security measures</div>
                  <div>The customer is obliged to take care of the e-ticket and not allow it to be copied and deformed. Considering that from the moment of receipt of the e-ticket,
                     storing the e-ticket, preventing its copying and/or other reproduction is the RESPONSIBILITY of the Client, the organizer is not responsible
                     responsibility for the availability of double tickets. In case of doubts about the authenticity of the e-ticket, the identification of cases of double tickets
                     the employees of the entertainment institution HAVE the RIGHT TO REFUSE to attend the event to ALL persons who have presented a disputed e-ticket.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
