version: '3.6'

services:
    store_api:
        build:
            context: .
            dockerfile: ./Services/TicketStore.Api/Dockerfile.Development
        depends_on:
            - postgres
        ports:
            - 3000:5000
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
        tty: true
    store_web:
        build:
            context: .
            dockerfile: ./Services/TicketStore.Web/Dockerfile.Development
        ports:
            - 4000:5000
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
        volumes:
            - ./Services/TicketStore.Web/Client/src:/app/Client/src
    store_proxy:
        logging:
            driver: none
    postgres:
        build:
            context: .
            dockerfile: ./Services/Postgres/Dockerfile
        container_name: postgres
        volumes:
            - pgsdata:/var/lib/postgresql/data
        ports:
            - 5432:5432
        logging:
            driver: none

volumes:
    pgsdata: