name: Bundlesize CI

on:
  push:
    paths:
      # '*' matches any character except '/'
      - 'Services/TicketStore.Web/Client/*'
      - 'Services/TicketStore.Web/Client/*/*'
      - 'Services/TicketStore.Web/Client/*/*/*'
      - 'Services/TicketStore.Web/Client/*/*/*/*'
      - 'Services/TicketStore.Web/Client/*/*/*/*/*'
      - 'Services/Farewell/svelte/*'
      - 'Services/Farewell/svelte/*/*'
      - 'Services/Farewell/svelte/*/*/*'
      - 'Services/Farewell/svelte/*/*/*/*'
      - 'Services/Farewell/svelte/*/*/*/*/*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Check bundlesize for Web service
      working-directory: Services/TicketStore.Web/Client
      run: |
        npm install
        npm run check-bundlesize
      env:
        CI: true
    - name: Check bundlesize for Farewell service
      working-directory: Services/Farewell/svelte
      run: |
        npm install
        npm run check-bundlesize
      env:
        CI: true
